<h1>This is me when I was little</h1>

<p>Here you can put some pictures and so on so your family can see them and smile about it and then forget it!</p>
<p>This might sound very silly but is part of a project, so don't be mean.</p>

<%= link_to "Home", root_path %>