<h1>Welcome!</h1>

<p>Today is my birthday but I also whant to share a message with you: have a great day!</p>

 <p>this is what you have to write when you want to insert an image: (without the spaces!)
 < img src="nameofthepic.jpg" >here goes the description< /img >
</p>

<%= link_to "About", about_path %>